@font-face {
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    src: local('Abel'), local('Abel-Regular'), url(http://themes.googleusercontent.com/static/fonts/abel/v3/EAqh528fFdbUek8UOky4sA.woff) format('woff');
}

@font-face {
    font-family: 'Allura';
    font-style: normal;
    font-weight: 400;
    src: local('Allura'), local('Allura-Regular'), url(http://themes.googleusercontent.com/static/fonts/allura/v1/ExiT4hKozv4E-LiOi2vvJA.woff) format('woff');
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    src: local('Oswald Light'), local('Oswald-Light'), url(http://themes.googleusercontent.com/static/fonts/oswald/v7/HqHm7BVC_nzzTui2lzQTDT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: local('Oswald Regular'), local('Oswald-Regular'), url(http://themes.googleusercontent.com/static/fonts/oswald/v7/-g5pDUSRgvxvOl5u-a_WHw.woff) format('woff');
}
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src: local('Cuprum'), local('Cuprum-Regular'), url(http://themes.googleusercontent.com/static/fonts/cuprum/v4/wHBEZCjwNI3HN2fD1RQJgw.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: local('Ubuntu Light'), local('Ubuntu-Light'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v4/nBF2d6Y3AbOwfkBM-9HcWD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Condensed'), local('UbuntuCondensed-Regular'), url(http://themes.googleusercontent.com/static/fonts/ubuntucondensed/v3/DBCt-NXN57MTAFjitYxdrOC933fdLZhbewWVDyX-fYw.woff) format('woff');
}
/*
 Theme Name: denitsaart
 Theme URI: www.web.com
 Description: It is a web design template
 Author: Denitsa Minkova
 Tags: Green, simple, right side bar, slider, box model
*/

html, body {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    /*background: url(css/images/img01.png) repeat;*/
    background: #4DA993;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: #8A8A8A;
}

h1, h2, h3 {
    margin: 0px;
    padding: 0px;
    font-family: 'Oswald', 'Ubuntu Condensed', 'Cuprum', 'Ubuntu', sans-serif;
    font-weight: 100 ;
}

p {
    line-height: 180%;
    text-align: justify;
}

a {
    color: #D1551F;
}

strong {
    font-weight: 700;
    color: #2A2A2A;
}

li {
    list-style-type: none;
}
#tmb-wrap, .attachment{
    zoom: 1;
}

    #tmb-wrap:after, .attachment:after {
        display: block;
        height: 0;
        content: "";
        clear: both;
    }
/* Wrapper */
#wrapper {
    overflow: hidden;
    padding: 0px 0px 50px 0px;
    /*background: url(css/images/img02.png) repeat;*/
}

/* Header */
#header-wrapper {
    background: url(css/images/img07.png) no-repeat center bottom;
}

#header {
    min-height: 205px;
    position: relative;
}
/* Logo */
#logo {
    overflow: hidden;
    padding: 30px 0 30px 0;
}

    #logo h1 {
        margin: 0;
    }

        #logo h1 a {
            display: block;
            letter-spacing: -1px;
            text-align: center;
            text-decoration: none;
            text-shadow: -1px -1px 0px #006f00;
            text-transform: lowercase;
            font-family: 'Allura', cursive;
            font-size: 70pt;
            font-weight: 200;
            color: #FFFFFF;
        }

/* Menu */
#menu-wrapper {
    background: url(css/images/img06.png) top right repeat;
}

#menu ul {
    text-align: center;
}

nav ul li {
    display: inline-block;
    padding: 0px 20px;
    line-height: 60px;
    position: relative;
}

#menu {
    font-size: 0;
}

    #menu a {
        display: block;
        float: left;
        margin-right: 2px;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Abel', sans-serif;
        font-size: 13pt;
        color: #FFFFFF;
    }

nav ul .current-menu-item {
    background: #006203;
    color: #FFFFFF;
    box-shadow: inset 0px -2px 20px 0px rgba(0,0,0,0.2);
}

#menu .current_menu_item a {
    color: #FFFFFF;
}

#menu .menu-pr-menu-container > ul > li:hover {
    background: #006203;
    -webkit-transition: background .2s linear;
}

nav ul li > ul {
    display: none;
    position: absolute;
    background-color: rgba(15, 204, 82,0.8);
    behavior: url(css/5grid/PIE_uncompressed.htc);
    left: 0;
    top: 60px;
    z-index: 600;
}
.no-rgba nav ul li > ul{
   background-color: #33BC4D;
}

    nav ul li > ul li {
        display: block;
        text-align: left;
        line-height: 30px;
        float: left;
        width: 120px;
        margin-top: 10px;
    }
    nav ul li > ul li:hover{
        background-color: rgba(0, 98, 3, 0.2);
    }

nav ul li:hover > ul {
    display: block;
}

#mobileUI-site-nav{
  display:none;
}

#mobileUI-site-nav-opener{
  display:none;
}
/* Page Wrapper */
#page-wrapper {
    overflow: hidden;
    padding: 30px 0px;
    background: #cccccc;
}

/* Banner */
#banner {
    overflow: hidden;
    padding: 0px 30px 30px 30px;
}

    #banner a img {
        display: block;
        width: 100%;
    }

/* Content */
#content {
    padding: 0px 0px 10px 30px;
    overflow: hidden;
}

.twocolumn2 #content {
    padding: 0px 30px 0px 0px;
}

.onecolumn #content {
    padding: 0px 30px;
}

#content section {
    margin-bottom: 30px;
    border-bottom: 1px solid #E6E6E6;
}

    #content section:last-child {
        border-bottom: 0;
    }

.onecolumn #content section {
    border-bottom: none;
}

#content h2 {
    padding: 0px 0px 40px 0px;
    letter-spacing: -2px;
    text-transform: uppercase;
    font-size: 30pt;
    color: #2A2A2A;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

#content img {
    border: 2px solid #F3F3F3;
}

#content a img {
    float: left;
    border: none;
    box-shadow: 1px 1px 3px #222;
    margin: 2px 10px;
    width:350px;
    height:100%
}

#content .post {
    padding: 0px 0px 40px 0px;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

#content .img-alignleft {
    float: left;
    margin-right: 10px;
}
/* Sidebar1 */
#sidebar1 {
    padding: 0px 0px 0px 0px;
}

    #sidebar1 section {
        margin: 0px 0px 50px 0px;
    }

    #sidebar1 h2 {
        height: 50px;
        background: url(css/images/img01.png) repeat;
        margin-bottom: 20px;
        padding: 0px 0px 0px 20px;
        line-height: 50px;
        text-transform: uppercase;
        font-size: 20pt;
        color: #FFFFFF;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
        overflow: hidden;
    }
/* Sidebar2 */
#sidebar2 {
    padding: 0px 30px 0px 0px;
}

.twocolumn2 #sidebar2 {
    padding: 0px 0px 0px 30px;
}

#sidebar2 h2 {
    height: 50px;
    background: url(css/images/img10.png) no-repeat right top;
    margin-bottom: 20px;
    padding: 0px 0px 0px 20px;
    line-height: 50px;
    text-transform: uppercase;
    font-size: 20pt;
    color: #FFFFFF;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    overflow: hidden;
}

#sidebar2 .sbox1 {
    margin-bottom: 50px;
}

/** LIST STYLE 1 */
#sidebar1 ul, #sidebar2 ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

    #sidebar1 ul li, #sidebar2 ul li {
        padding: 15px 0px 15px 30px;
        border-bottom: 1px solid #E6E6E6;
        background: url(css/images/img03.png) no-repeat left center;
    }

        #sidebar1 ul li:last-child, #sidebar2 ul li:last-child {
            border-bottom: 0;
        }

    #sidebar1 ul a, #sidebar2 ul a {
        display: block;
        text-decoration: none;
        color: #525252;
    }

        #sidebar1 ul a:hover, #sidebar2 ul a:hover {
            text-decoration: underline;
        }
.blogroll li{
  padding-bottom: 5px;
}


/** LIST STYLE 2 */
ul.style2 {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

    ul.style2 li {
        padding: 0px 0px 40px 0px;
    }

    ul.style2 a {
        text-decoration: none;
        color: #525252;
    }

        ul.style2 a:hover {
            text-decoration: underline;
        }

    ul.style2 .date {
        display: inline-block;
        margin: 0px 0px 25px 0px;
        padding: 5px 10px;
        background: url(css/images/img01.png) repeat;
        letter-spacing: 1px;
        line-height: none;
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
        font-weight: 200;
        color: #FFFFFF;
    }

        ul.style2 .date a {
            color: #FFFFFF;
        }

/** LIST STYLE 3 */
ul.style3 {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

    ul.style3 li {
        padding: 20px 0px 25px 0px;
    }

    ul.style3 a {
        display: block;
        text-decoration: none;
        color: #C18062;
    }

        ul.style3 a:hover {
            text-decoration: underline;
        }

    ul.style3 .date {
        float: left;
        width: 80px;
        height: 78px;
        margin: 0px 25px 0px 0px;
        padding: 10px 0px 0px 0px;
        background: #D34C0D;
        line-height: normal;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Abel', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #FFFFFF;
    }

        ul.style3 .date b {
            display: block;
            margin: 0px 0px 0px 0px;
            padding: 0;
            letter-spacing: -1px;
            font-size: 40px;
            font-weight: 400;
            color: #FFFFFF;
        }

        ul.style3 .date a {
            color: #FFFFFF;
        }

            ul.style3 .date a:hover {
                text-decoration: none;
            }

    ul.style3 .first {
        padding-top: 0px;
        background: none;
    }

/** LIST STYLE 4 */
ul.style4 {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

    ul.style4 li {
        padding: 15px 0px 15px 0px;
        text-shadow: 1px 1px 0px rgba(0,0,0, .3);
        border-top: solid 1px #006003;
    }

        ul.style4 li:first-child {
            border-top: 0;
        }

    ul.style4 a {
        display: block;
        padding: 0px 0px 0px 30px;
        background: url(css/images/img09.png) no-repeat left 5px;
        line-height: 160%;
        text-decoration: none;
        color: #F3F1EE;
    }

        ul.style4 a:hover {
            text-decoration: underline;
        }

    ul.style4 .first {
        background: none;
        padding-top: 0px;
    }

.comment-meta a {
    font-style: italic;
    color: #999999;
    margin-left: 40px;
}

    .comment-meta a:hover {
        color: #8C0808;
    }

.commentlist {
    clear: both;
}

    .commentlist li {
        background-color: #FFF7E6;
        border: solid 1px #FFF7E6;
        -moz-border-radius: 10px;
        border-radius: 10px;
        padding: 20px 0;
        display: block;
        margin-top: 5px;
    }

    .commentlist p {
        margin: 10px 0 10px 40px;
    }

.reply a {
    font-style: italic;
    color: #999999;
    float: right;
    font-size: 0.9em;
    margin-right:20px;
}

    .reply a:hover {
        color: #8C0808;
    }

#respond h3 {
    font-style: italic;
    color: #8C0808;
    padding: 10px 0;
}

#respond {
    padding-right: 40px;
    padding-bottom: 20px;
}

    #respond a {
        text-decoration: none;
        color: #8C0808;
    }

.prev_page a, .next_page a, input[type="submit"], input[type="search"] {
    padding: 5px 10px;
    background: -moz-linear-gradient(top, #8A8A8A 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8A8A8A), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(top, #8A8A8A 0%, #ffffff 100%);
    background: -o-linear-gradient(top, #8A8A8A 0%, #ffffff 100%);
    background: -ms-linear-gradient(top, #8A8A8A 0%, #ffffff 100%);
    background: linear-gradient(to bottom, #8A8A8A 0%, #ffffff 100%);

    border: 1px solid #525252;
    border-radius: 15px;
    behavior: url(css/5grid/PIE_uncompressed.htc);
}
.prev_page a:hover, .next_page a:hover, input[type="submit"]:hover, input[type="search"]:hover{
    background: -moz-linear-gradient(top, #ffffff 0%, #8A8A8A 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #8A8A8A));
    background: -webkit-linear-gradient(top, #ffffff 0%, #8A8A8A 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #8A8A8A 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #8A8A8A 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #8A8A8A 100%);
    behavior: url(css/5grid/PIE_uncompressed.htc);
}
input[type="text"] {
    border:1px solid rgb(167, 167, 167);
    border-radius:5px;
    behavior: url(css/5grid/PIE_uncompressed.htc);
}


.prev_page {
    float: left;
    margin: 10px;
}

.next_page {
    float: right;
    margin: 10px;
}
.screen-reader-text{
  display: none;
}


/** Footer Column Content */
#footer-content {
    overflow: hidden;
    padding: 50px 0px 0px 0px;
    color: #F3F1EE;
}

    #footer-content h2 {
        text-shadow: 1px 1px 0px rgba(0,0,0, .3);
        padding: 0px 0px 40px 0px;
        text-transform: uppercase;
        font-size: 20pt;
        color: #FFF;
    }

    #footer-content .imgleft {
        float: left;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 10px;
        border: 5px solid #FFFFFF;
    }
    /* Copyright */
#footer-wrapper{
    background-color:#1A5B07;
}
#copyright {
    overflow: hidden;
    padding: 50px 0px;
    text-align: center;
}

    #copyright div {
        font-family: 'Abel', sans-serif;
        font-size: 11pt;
        color: #EEEEEE;
    }

    #copyright a {
        color: #EEEEEE;
    }

        #copyright a:hover {
            text-decoration: none;
        }


/* Button Style */
.button-style a {
    display: block;
    width: 174px;
    height: 50px;
    margin-top: 30px;
    background: url(css/images/img01.png) repeat;
    border-radius: 10px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 14pt;
    font-weight: 200;
    color: #FFFFFF;
}

#slide {
    width: 990px;
    margin: 0 auto;
    overflow: auto;
    padding: 5px 0;
    z-index: 1;
}

#imgText {
    color: #304848;
    width: 340px;
    float: right;
    background-color: #6B9E2E;
    background: -moz-linear-gradient(100% 100% 90deg,#6B9E2E,#D9EDC0);
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6B9E2E), to(#D9EDC0));
    /* Safari 5.1+, Chrome 10+*/
    background: -webkit-linear-gradient(#6B9E2E, #D9EDC0);
    /* Opera 11.10+*/
    background: -o-linear-gradient(#6B9E2E,#D9EDC0);
    box-shadow: 2px 2px 2px #FFFF99;
    -moz-box-shadow: 2px 2px 2px #FFFF99;
    -webkit-box-shadow: 2px 2px 2px #FFFF99;
    padding: 10px 10px;
    line-height: 1.5em;
}

    #imgText h2 {
        border-bottom: 1px solid #8C0808;
    }
.widget{
   margin-top: 20px;
}

.error{
  font-size: 16px;
  color: #CC3333;
}
.h1{
  padding: 10px 0;
  font-size: 26px;
  color: #CC3333;
}

#business-template {
    float: left;
    background-color: #E9E9E9;
    border-radius: 15px;
    height: 500px;
    width: 400px;
    margin: 20px;
    overflow: auto;
    box-shadow: inset 1px 0 25px 1px #474747;
    -moz-box-shadow: inset 1px 0 25px 1px #474747;
    -webkit-box-shadow: inset 1px 0 25px 1px #474747;
}

    #business-template header {
        background-color: #99E6A8;
    }

        #business-template header h2 {
            padding: 10px 20px;
            background-color: #33BC4D;
            border-radius: 20px;
        }

    #business-template .post p {
        padding: 20px;
    }

    #business-template .post img {
        width: 150px;
        height: 150px;
        float: left;
        padding: 5px;
    }

    #business-template .post .date {
        border-bottom: 2px solid #1F7C32;
        padding: 5px 20px;
    }

@media only screen and (max-width: 960px) {
    #imgText {
        float: none;
        margin: 20px 0 0 20px;
    }

    #slide {
        margin-left: 20px;
    }
}

@media only screen and (max-width: 760px) {
    #logo h1 img {
        display: none;
    }

    #sidebar2 h2 {
        background: url(css/images/img10.png) no-repeat left top;
    }

    #business-template {
        width: 90%;
        height: inherit;
    }
}

@media only screen and (max-width: 480px) {
  img {
	display: block;
	height: auto;
	margin: 0 0 20px 0;
}

/* Header */

#header-wrapper {
    background: none;;
}
#header{
  min-height:inherit;
}

#logo{
  padding: 25px 0 5px 0;
}


#logo h1 a {
	display: block;
	text-align: center;
	text-decoration: none;
	text-transform: lowercase;
	font-family: 'Allura', cursive;
	font-size: 20pt;
	font-weight: 200;
	color: #FFFFFF;
    margin: 0 80px;
}
#menu-wrapper{
   display:none;
}

a.mobileUI-site-nav-opener {
    display:block;
	width: 25px;
	height: 25px;
	background: url(css/images/img04.png) no-repeat left top;
	top: 25px;
	left: 10px;
	text-indent: -999999em;
    position:absolute;
}

#mobileUI-site-nav-opener:active {
}

#mobileUI-site-nav {
  	float:left;
	margin-top:60px;
	position:absolute;
	top:0;
	left:0;
    background:#195A06;
	display:none;
    z-index:600;
}

#mobileUI-site-nav nav a {
	padding: 15px 0px 15px 20px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 13pt;
	font-weight: 200;
	color: #FFFFFF;
    float:none;
}
nav ul li {
    display: block;
    }
    #menu ul {
        text-align: left;
    }

    nav ul li > ul {
        display: block;
        position: static;
    }
     nav ul li > ul li{
       float:none;
       width: inherit;
     }

    nav ul .current-menu-item {
        background: none;
        box-shadow: none;
    }

    #menu .menu-pr-menu-container > ul > li:hover {
        background: none;
    }
/* Page Wrapper */

#page-wrapper {
	overflow: hidden;
	padding: 30px 0px;
	background: #FFFFFF;
}

/* Banner */

#banner {
	overflow: hidden;
	padding: 0px 30px 30px 30px;
}

/* Content */

#content {
	padding: 0px 0px 0px 0px;
}

#content h2 {
	padding: 0px 0px 40px 0px;
	letter-spacing: -1px;
	text-transform: uppercase;
	font-size: 20pt;
	color: #2A2A2A;
}

#content .post {
	padding: 0px 0px 40px 0px;
}

#content section {
	padding: 0px 30px;
}

/* Sidebar1 */

#sidebar1 {
	padding: 0px 0px 0px 0px;
}

#sidebar1 h2 {
	padding: 0px 0px 30px 0px;
	text-transform: uppercase;
	font-size: 20pt;
	color: #2A2A2A;
    background:none;
    margin-bottom: 0;
}

#sidebar1 section {
	padding: 0px 30px 30px 30px;
}
#sidebar1 section:nth-child(1){
   padding: 30px 30px 30px 30px;
}


/* Sidebar2 */

#sidebar2 {
	padding: 0px 0px 0px 0px;
}

#sidebar2 h2 {
	padding: 0px 0px 30px 0px;
	text-transform: uppercase;
	font-size: 20pt;
	color: #2A2A2A;
    background:none;
    margin-bottom: 0;
}

#sidebar2 section {
	padding: 0px 30px;
}

#sidebar2 .sbox1 {
	margin-bottom: 30px;
}

#sidebar2 .sbox2 {
	margin-bottom: 0px;
}
    #sidebar1 section {
        margin: 0px 0px 0px 0px;
    }
#sidebar2 .sbox3 {
}

#imgText{
    width: inherit;
    margin-right: 20px;
}
#slide{
  width:inherit;
}

/** Footer Column Content */

#footer-content {
	overflow: hidden;
	padding: 50px 0px 0px 0px;
	text-shadow: 1px 1px 0px rgba(0,0,0, .3);
	color: #F3F1EE;
}

#footer-content h2 {
	padding: 0px 0px 40px 0px;
	text-transform: uppercase;
	font-size: 20pt;
	color: #FFF;
}

#footer-content section {
	padding: 0px 30px 30px 30px;
}
}